body{
align:left;
margin-left:120px;
position: relative;
}
.logo{
width:200px;
height:100px;
}
.litu{
width:400px;
height:700px;
}
table{
border:solid 1px #add9c0;
}
td{
border:solid 3px #add9c0;
width:400px;
}